header{
    padding: 5%;
    background-color: #039be5;
    color:white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:2;
}

.loader {
position: absolute;
top :0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}

/*#page{
	display: none;
}*/